[submodule "3rd_party/rapidjson"]
	path = 3rd_party/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "3rd_party/slimt"]
	path = 3rd_party/slimt
	url = https://github.com/jerinphilip/slimt
